{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/task_status.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        
        <!-- Staff Code Section -->
        <div class="input-group">
            <input type="text" placeholder="Enter staff_code" name="staff_code" value="{{ request.POST.staff_code }}" required>
            <button type="submit" name="fetch">Fetch Tasks</button>
        </div>

        {% if error_message %}
        <div class="error-message">
            {{ error_message }}
        </div>
        {% endif %}

        {% if assigned_tasks %}
        <!-- Task Table Section -->
        <div class="task-section">
            <h2>Assigned Tasks</h2>
            {% if assigned_tasks.count > 0 %}
            <table>
                <caption>List of assigned tasks to {{ name }}</caption>
                <thead>
                    <tr>
                        <th scope="col">Task Code</th>
                        <th scope="col">Task Title</th>
                        <th scope="col">Task Description</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in assigned_tasks %}
                    <tr>
                        <td>{{ task.task_code }}</td>
                        <td>{{ task.task_title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="button-group">
                <a href="{% url 'update_status' staff_code  %}" class="btn-link">Update Status</a>
            </div>
            {% else %}
            <div class="no-tasks-message">
                <p>No tasks assigned to {{ name }}.</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
