{% extends 'base.html' %} {% block content %}
<h2>Attendance Report</h2>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Staff Name</th>
    <th>Staff Code</th>
    <th>Time In</th>
    <th>Time Out</th>
  </tr>
  {% for record in records %}
  <tr>
    <td>{{ record.date }}</td>
    <td>{{ record.staff.full_name }}</td>
    <td>{{ record.staff.staff_code }}</td>
    <td>{{ record.time_in|default:"-" }}</td>
    <td>{{ record.time_out|default:"-" }}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'attendance_home' %}">Back</a>
{% endblock %}
